.comments-modal {
  width: 290px;
  padding: 10px 0;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;

  .title {
    font-size: 20px;
  }

  .comments {
    height: 250px;
    overflow-y: scroll;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;

    .comment {
      padding: 4px;
      padding-bottom: 12px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }
  }

  .close-btn,
  .add-btn {
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: orange;
    color: #fff;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;

    &:hover {
      background-color: #ff8c00;
    }
  }

  .new-comment {
    display: flex;
    justify-content: center;
    align-items: center;

    .add-btn {
      width: 40px;
    }

    img {
      width: 40px;
      height: 40px;
    }

    input {
      width: calc(100% - 50px);
      margin-right: 10px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 0 5px;
      outline: none;
    }

  }

  .close-btn {
    margin-top: 10px;
    width: 90%;
  }
}